.navigation {
  background-color: black;
  color: white;
  top: 1;
}

.white-sidebar {
  background-color: white !important;
}

[class*=sidebar-blue] {
  background-color: #7acbcd;
}

input,
select {
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.col-container {
  display: table;
  /* Make the container element behave like a table */
  width: 100%;
  /* Set full-width to expand the whole page */
}

.col {
  display: table-cell;
  /* Make elements inside the container behave like table cells */
}

